l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]





    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [1]:
#q1 :
#ineruon 
#ineruon ineruon 
#ineruon ineruon ineruon
#ineruon ineruon ineruon ineruon

for i in range(4):
    print('ineuron ' * (i+1))

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [2]:
"""q2 - 

          ineruon
    ineruon      ineruon
ineruon     ineruon     ineruon
    ineruon      ineruon
          ineruon"""

n = 17 #no. of lines in output
s = 'ineuron'
padding = int(len(s)/2)

for i in range(int((n+1)/2)):
    k = s + ' ' * padding
    k = k * (i) + s
    print(k.center(len(s)*n, ' '))
for i in range(int((n)/2),0,-1):
    k = s + ' ' * padding
    k = k * (i - 1) + s
    print(k.center(len(s)*n, ' '))

                                                        ineuron
                                                   ineuron   ineuron
                                              ineuron   ineuron   ineuron
                                         ineuron   ineuron   ineuron   ineuron
                                    ineuron   ineuron   ineuron   ineuron   ineuron
                               ineuron   ineuron   ineuron   ineuron   ineuron   ineuron
                          ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron
                     ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron
                ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron
                     ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron
                          ineuron   ineuron   ineuron   ineuron   ineuron   ineuron   ineuron
                               ineuron   ineuron   ineuron   ineuron   ineuron   ineuron
                                    ineuron   ineuron   ineuron   ineuron   ineuron
                                         ineuron   ineuron   ineuron   ineuron
                                              ineuron   ineuron   ineuron
                                                   ineuron   ineuron
                                                        ineuron

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
#q3 : Try to extract all the list entity

for i in l:
    if type(i) is list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [5]:
#q4 : Try to extract all the dict enteties

for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#q5 : Try to extract all the tuples entities

for i in l:
    if type(i) is tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [7]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values 
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(type(i), j)
    elif type(i) == dict:
        for k, v in i.items():
            if type(k) == int:
                print(type(i), 'key', k)
            if type(v) == int:
                print(type(i), 'value', v)

<class 'list'> 1
<class 'list'> 2
<class 'list'> 3
<class 'list'> 4
<class 'tuple'> 2
<class 'tuple'> 3
<class 'tuple'> 4
<class 'tuple'> 5
<class 'tuple'> 6
<class 'tuple'> 3
<class 'tuple'> 4
<class 'tuple'> 5
<class 'tuple'> 6
<class 'tuple'> 7
<class 'set'> 45
<class 'set'> 4
<class 'set'> 5
<class 'set'> 23
<class 'dict'> key 3
<class 'dict'> value 6
<class 'dict'> key 7
<class 'dict'> value 8

In [8]:
#q7 : Try to give summation of all the numeric data 
sum = 0
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                sum+=j
    elif type(i) == dict:
        for k, v in i.items():
            if type(k) == int:
                sum+=k
            if type(v) == int:
                sum+=v
print('sum = ', sum)

sum =  156

In [9]:
#q8 : Try to filter out all the odd values out all numeric data which is a part of a list

odd = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int and j%2 != 0:
                odd.append(j)
    elif type(i) == dict:
        for k, v in i.items():
            if type(k) == int and k%2 != 0:
                odd.append(k)
            if type(v) == int and v%2 != 0:
                odd.append(v)
print(odd)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [10]:
#q9 : Try to extract "ineruon" out of this data

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == 'ineuron':
                print(type(i), j)
    elif type(i) == dict:
        for k, v in i.items():
            if k == 'ineuron':
                print(type(i), 'key', k)
            if v == 'ineuron':
                print(type(i), 'value', v)

<class 'dict'> value ineuron
<class 'list'> ineuron

In [11]:
#q10 :Try to find out a number of occurances of all the data
flatlist = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            flatlist.append(j)
    elif type(i) == dict:
        for k, v in i.items():
            flatlist.append(k)
            flatlist.append(v)
uniqueset = set(flatlist)

for i in uniqueset:
    print(i, flatlist.count(i))

1 1
2 2
3 4
4 4
5 3
6 3
7 2
k1 1
k3 1
kumar 1
8 1
45 1
data science  1
k2 1
23 1
ineuron 2
sudh 1

In [12]:
#q11 : Try to find out number of keys in dict element
keycount = 0
for i in l:
    if type(i) == dict:
        for j in i:
            keycount+=1
print(keycount)

5

In [13]:
#q12 : Try to filter out all the string data
strlist = []
for i in l:
    if type(i) is list or type(i) is tuple or type(i) is set:
        for j in i:
            if type(j) is str:
                strlist.append(j)
    elif type(i) == dict:
        for k, v in i.items():
            if type(k) is str:
                strlist.append(k)
            if type(v) is str:
                strlist.append(v)
print(strlist)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [14]:
#q13 : Try to Find  out alphanum in data

alnumlist = []
for i in l:
    if type(i) is list or type(i) is tuple or type(i) is set:
        for j in i:
            if type(j) is str and j.isalnum():
                alnumlist.append(j)
    elif type(i) == dict:
        for k, v in i.items():
            if type(k) is str and k.isalnum():
                alnumlist.append(k)
            if type(v) is str and v.isalnum():
                alnumlist.append(v)
print(alnumlist)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

In [16]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 

multi = 1
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                multi*=j
    elif type(i) == dict:
        for k, v in i.items():
            if type(k) == int:
                multi*=k
            if type(v) == int:
                multi*=v
print('multi = ', multi)

multi =  908605071360000

In [18]:
#q15 : Try to unwrape all the collection inside collection and create a flat list 
flatlist = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            flatlist.append(j)
    elif type(i) == dict:
        for k, v in i.items():
            flatlist.append(k)
            flatlist.append(v)

print(flatlist)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']