In [3]:
l = [1,2,3,4,5,6,7,8,9,0]
for i in l:
    print(i)
    break
else:
    print("for is over")

1

In [4]:
t = (1,2,3,4,5,6,7,8,9,0)

In [5]:
for i in t:
    print(i)

1
2
3
4
5
6
7
8
9
0

In [6]:
d = {1:'a', 2:'b', 3:'c', 4:'d'}

In [8]:
for i in d:
    print(i)

1
2
3
4

In [9]:
for i in d:
    print(d[i])

a
b
c
d

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(5):
    print('* ' * (i+1))

*
* *
* * *
* * * *
* * * * *

In [27]:
for i in range(1,10,2):
    print(53, ' '))

                         sudh
                   sudh  sudh  sudh
             sudh  sudh  sudh  sudh  sudh
       sudh  sudh  sudh  sudh  sudh  sudh  sudh
 sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh

In [30]:
t = (10,20,30,40,50,60,70,80,90,100)
i = 0
for j in t:
    print(i, j)
    i+= 1

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90
9 100

In [31]:
for i in range(len(t)):
    print(i, t[i])

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90
9 100

In [32]:
s = 'iNeuron'
for i in range(len(s)):
    print(i, s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [37]:
for i in range(len(s)-1,-1,-1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [38]:
d

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [39]:
for i in d:
    print(d[i])

a
b
c
d

In [40]:
l = [1,2,3,4,5,6,7,8,9,0]

In [41]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [42]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [47]:
for i in d:
    if type(i) == int:
        print(i, ':', d[i])

1 : a
2 : b
3 : c
4 : d

In [48]:
s = 'aaaaaaabbbbbbbbcccccccccddddddddd'

In [49]:
sset = set(s)

In [50]:
sset

{'a', 'b', 'c', 'd'}

In [52]:
for j in sset:
    print(j, s.count(j))

c 9
b 8
d 9
a 7

In [65]:
abcd = ('ajay', [1,2,3,4,5], (3,4,5,6), {1:'a', 2:'3', 3:'c', 4:'d'})

In [68]:
for i in abcd:
    if type(i) == str or type(i) == tuple or type(i) == list:
        for j in i:
            if j == '3' or j == 3:
                print(j, type(i))
    elif type(i) == dict:
        for j in i:
            if (j == 3 or j == '3'):
                print(j, 'dict key', type(j))
            elif (i[j] == 3 or i[j] == '3'):
                print(i[j], 'dict value', type(i[j]))

3 <class 'list'>
3 <class 'tuple'>
3 dict value <class 'str'>
3 dict key <class 'int'>

In [59]:
abcd[3][1]

'a'

In [63]:
for i in abcd:
    if type(i) == dict:
        for j in i:
            print(j, type(j), )

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>