In [ ]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
test1 = 'This is a test of the emergency text system'
f = open('test.txt','w')
f.write(test1)
f.close()

In [ ]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
f = open('test.txt','r')
test2 = f.read()
f.close()
print(test2)

This is a test of the emergency text system

In [ ]:
'''3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
import csv
outputfile = open('books.csv', 'w', newline='')
csvwriter = csv.writer(outputfile)
csvwriter.writerow(['title','author','year'])
csvwriter.writerow(['The Weirdstone of Brisingamen','Alan Garner','1960'])
csvwriter.writerow(['Perdido Street Station','China Miéville','2000'])
csvwriter.writerow(['Thud!','Terry Pratchett','2005'])
csvwriter.writerow(['The Spellman Files','Lisa Lutz','2007'])
csvwriter.writerow(['Small Gods','Terry Pratchett','1992'])
outputfile.close()

In [ ]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
#5. Read books.csv and insert its data into the book table.
import sqlite3, csv
con = sqlite3.connect('books.db')

try:
    cur = con.cursor()
    cur.execute('CREATE TABLE IF NOT EXISTS books(title TEXT PRIMARY KEY, author TEXT NOT NULL, year INTEGER)')

    with open('books.csv') as csvfile:
        csvreader = csv.reader(csvfile)
        cur.execute('DELETE FROM books')
        for i in csvreader:
            cur.execute('INSERT INTO books(title, author, year) VALUES(?,?,?);', i)

        data = cur.execute('SELECT * FROM books')
        for j in data:
            print(j)

        con.commit()
        con.close()

except Exception as msg:
    print(msg)

('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [ ]:
#6. Select and print the title column from the book table in alphabetical order.

import sqlite3
con = sqlite3.connect('books.db')

try:
    cur = con.cursor()
    data = cur.execute('SELECT title FROM books ASCENDING')
    for j in data:
        print(j)

    con.close()

except Exception as msg:
    print(msg)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('title',)

In [ ]:
#7. From the book table, select and print all columns in the order of publication.

import sqlite3
con = sqlite3.connect('books.db')

try:
    cur = con.cursor()
    data = cur.execute('SELECT * FROM books ORDER BY year')
    for j in data:
        print(j)

    con.close()

except Exception as msg:
    print(msg)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('title', 'author', 'year')

In [ ]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db')

In [1]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
     |████████████████████████████████| 246 kB 4.0 MB/s
Requirement already satisfied: packaging>=20.4 in /usr/local/lib/python3.7/dist-packages (from redis) (21.3)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: importlib-metadata>=1.0 in /usr/local/lib/python3.7/dist-packages (from redis) (4.12.0)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.7/dist-packages (from redis) (4.0.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from redis) (4.1.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated>=1.2.3->redis) (1.14.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0->redis) (3.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.4->redis) (3.0.9)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.3.4

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test', mapping={'count':1, 'name': 'Fester Bestertester'})
print(conn.hgetall('test'))

In [ ]:
#10. Increment the count field of test and print it.

conn.hincrby('test','count', 1)
print(conn.hgetall('test'))